.DS_Store
.idea/


APIGateway/node_modules
APIGateway/package-lock.json
APIGateway/config.js
APIGateway/.idea

Auth/node_modules
Auth/package-lock.json
Auth/config.js
Auth/.idea

SiteFiles/node_modules
SiteFiles/package-lock.json
SiteFiles/.idea

CloudflareAPI
DocsAPI
ispmanagerAPI
